@model OperationZero.Models.DataSnifferObject  
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-toggle.js"></script>
<script src="~/Scripts/DataSniffer.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.connectionObject.isConnected, new { @id = "isConnected" })
        @Html.HiddenFor(x => x.runProcedure, new { @id = "runProcedure" })
        @Html.HiddenFor(x => x.connectionObject.ServerSelectedName, new { @id = "serverSelectedName" })
        @Html.HiddenFor(x => x.connectionObject.DatabaseSelectedName, new { @id = "databaseSelectedName" })

        if (Model.connectionObject.isConnected == false)
            {      
                @CustomHelper.AlertBoxLink("isConnectText","/Home/Index" ,"Please <strong>Connect to a database </strong> in order to begin.","info","refresh")
            }            
    
        if (Model.connectionObject.error != null)
        {      
            @CustomHelper.AlertBox("errorMessageText","<strong>YIKES!! Fatal Error:</strong> "+ Model.connectionObject.error,"danger","warning-sign")   
         }  
    
        <div id="dataSnifferInputs">      
            <div class="input-group" style="margin-top: 1.5%; width:55%">
                <span class="input-group-addon" id="basic-addonServer">@Html.Label("Server")</span>
                @Html.TextBoxFor(x => x.connectionObject.ServerSelectedName,
                new {@id="serverSelectedName", @type="text", @class="form-control", @readonly="true" })  
            </div>

            <div class="input-group" style="margin-top: 1.5%; width:55%">
                <span class="input-group-addon"id="basic-parameter1">@Html.LabelFor(x => x.parameter1)</span>
                @Html.TextBoxFor(x => x.connectionObject.DatabaseSelectedName,
                new {@id="databaseSelectedName", @type="text", @class="form-control", @readonly="true" })  
            </div>

            <div class="input-group" style="margin-top: 1.5%; width:55%">
                <span class="input-group-addon"id="basic-parameter2">@Html.LabelFor(x => x.parameter2)</span>
                <span style="margin-left:2%;">
                    <input type="checkbox" id="parameter2" data-toggle="toggle" data-on="Yes" data-off="No"  style="margin-left: 2%;" data-onstyle="success" data-offstyle="danger" disabled>
                </span>
            </div>
            @Html.HiddenFor(x => x.parameter2, new { @id = "parameter2Data" }) 
        
               
        <div class="row"> 
            <div class="btn-group col-md-6" role="group" aria-label="Sniffer Button Group" style="margin-top: 1.5%">
                     <button id="submitButton" class="btn btn-info" type="submit" value="Process and Display Results"><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Process and Display Results</button>
                     <button id="reportButton" class="btn btn-success" type="submit" value="Display Results" ><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> Display Results</button>
            </div>
        </div>
    
    
        </div>  
    
        if (Model.dataSnifferParents != null)
        { 
         <table id="dataSnifferParent" class="table table-striped">
            <tr>
                <th></th>
                <th style="vertical-align:middle">Files</th>
                <th style="vertical-align:middle">File Status</th>
                <th style="vertical-align:middle">File Fields Status</th>
                <th style="vertical-align:middle">Actionable Items</th>
            </tr>

            @foreach (OperationZero.Models.DataSnifferParent row in Model.dataSnifferParents)
            {     
                <tr>               
                    <td style="width:2% ;vertical-align:middle" >
                        <i id="moreInfo" title="Click for details" class="glyphicon glyphicon-plus modalPopup" data-1="@row.TableName.ToString()"  aria-hidden="true" data-toggle="modal" data-target="#myModal" style="font-size: 20px;" ></i>
                    </td>
                    <td style="width:2%;vertical-align:middle" >@row.TableName.ToString()</td>
                    <td style="width:7%;vertical-align:middle" >
                        @CustomHelper.FileStatus(row.AcceptablePercent, row.IssuePresentInFileCount, row.MandatoryFieldMissingCount, row.CautionaryPercent, row.CriticalPercent, row.DataPresentInFileCount)
                    </td>
                    <td style="width:50%;vertical-align:middle" >                          
                        @CustomHelper.ProgressBar(row.AcceptablePercent, row.CautionaryPercent, row.CriticalPercent)
                    </td>
                    <td style="vertical-align:middle" >
                        <div style="margin-left:2%;">
                            @if (row.IssuePresentInFileCount >= 1)
                            {
                                <button class="btn btn-warning modalPopup"  type="button" data-1="@row.TableName.ToString()" data-2="warning"  
                                    title="Click for details" data-toggle="modal" data-target="#myModal" data-book-id="@row.TableName.ToString()">
                                    Issues <span class="badge">@row.IssuePresentInFileCount</span>
                                </button>                           
                            }

                            @if (row.MandatoryFieldMissingCount >= 1 && (row.AcceptablePercent > 0 || row.CautionaryPercent > 0 || row.CriticalPercent > 0) )
                            {
                                <button class="btn btn-danger modalPopup"  type="button" data-1="@row.TableName.ToString()" data-2="danger"  
                                    title="Click for details" data-toggle="modal" data-target="#myModal" data-book-id="@row.TableName.ToString()">
                                    Missing <span class="badge">@row.MandatoryFieldMissingCount</span>
                                </button>
                            }
                            
                        </div>
                    </td>  
                </tr>      
            }
         </table>    
        }    
    }
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" data-url='@Url.Action("DataSnifferChildren")' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" height: 900px; width:80%; margin-left: 10%; margin-top: 5%;">
  <div class="modal-dialog-lg" style=" overflow-y: initial !important" role="document">
    <div class="modal-content" id="modalContent">
         
                  <!-- Data dynamically populated via jQuery -->
            
    </div>
  </div>    
</div>

